* {
	box-sizing:border-box;
}
h1,h2,h3,h4,h5,h6,p{
	margin:0;
}
a{
	text-decoration:none;
}
img{
	vertical-align:bottom;
}
ul{
	list-style:none;
}
p,dd,ul,li{
	margin:0;
	padding:0;
}
input::-webkit-input-placeholder,input{
	font-family: "Open Sans", Arial, "Hiragino Sans GB", "\5FAE\8F6F\96C5\9ED1", "Microsoft YaHei", "微软雅黑", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
}
body a:hover{
	color:#FF4F12;
}
body{
	margin:0;
	font-size:14px;
	font-family: "Open Sans",Arial,"Hiragino Sans GB","\5FAE\8F6F\96C5\9ED1","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
}
.ov{
	overflow:hidden;
}
#header{
	font-size:12px;
	position:relative;
}
.header_box{
	background:#F8F9FB;
	border-bottom:1px solid #EDEFF3;
	border-top:1px solid #EDEFF3;
}
.header_nav{
	height:35px;
	line-height:35px;
	width:1184px;
	margin:0 auto;
	position:relative;
}
.header_nav:after{
	content:"";
	display:block;
	height:0;
	clear:both;
}
.header_nav>a{
	float:left;
	margin-right:30px;
	color:#8F9BB3;
}
.user>a,.user>span{
	float:right;
	color:#000;
}
.user>span{
	margin-left:10px;
	margin-right:10px;
}
.inx>i{
	display:inline-block;
	width:14px;
	height:14px;
	background:url(../img_png/index-icons.png) no-repeat;
	margin-right:5px;
	margin-bottom:-3px;
}
.header_nav>a:hover>i{
	background-position:-20px 0;
}
.header_nav>.down{
	margin-right:39px;
}
.down i{
	position:absolute;
	top:15px;
	border:4px solid transparent;
	border-top:4px solid #8F9BB3;
	margin-left:5px;
}
.down:hover>i{
	border-top-color:#FF4F12;
}
.nav_huimaiche{
	border:1px solid #D7DCE4;
	width:170px;
	background:#fff;
	position:absolute;
	left:250px;
	top:33px;
	text-align:center;
	z-index:1000;
	display:none;
}
.nav_huimaiche>img{
	height:168px;
	margin:0;
	vertical-align:bottom;
}
.nav_huimaiche>p{
	font-size:14px;
	line-height:14px;
	margin-top:10px;
}
.nav_huimaiche>b{
	position:absolute;
	margin-top:-6px;
	width:10px;
	height:10px;
	background:#fff;
	border-top:1px solid #D7DCE4;
	border-left:1px solid #D7DCE4;
	transform:rotate(45deg);
	z-index:10;
}
#weixin{
	left:350px;
}
.localtion-search{
	width:1184px;
	margin:30px auto;
	position:relative;
}
.search_content{
	padding-left:8px;
	height:35px;
	border:1px solid #D7DCE4;
	border-right:none;
	margin-left:150px;
	width:370px;
	color:#999;
	outline:none;
}
.search{
	position:relative;
	top:8px;
	height:35px;
	display:inline-block;
	border:1px solid #D7DCE4;
	border-left:none;
	padding:0 10px;
	background:#fff;
}
.search>i{
	width:22px;
	height:21px;
	display:inline-block;
	background:url(../img_png/index-icons.png) no-repeat -80px 0;
	margin-top:8px;
}
.banner_car{
	float:right;
}
.allcar_nav{
	width:1184px;
	margin:0 auto;
	height:40px;
	line-height:40px;
	position:relative;
}
.allcar_nav>p{
	width:296px;
	background:#8995AF;
	color:#fff;
	font-size:16px;
	height:40px;
	line-height:40px;
	padding-left:40px;
	float:left;
}
.allcar_nav>p>i{
	float:right;
	width:18px;
	height:9px;
	background:url(../img_png/index-icons.png) no-repeat -160px -40px;
	margin-top:15px;
	margin-right:20px;
}
.allcar_nav>p:hover{
	cursor:pointer;
}
.allcar_nav>p:hover>i{
	background-position:-181px -40px;
}
.allcar_nav>ul{
	float:left;
	overflow:hidden;
	margin-left:70px;
}
.allcar_nav>ul>li{
	float:left;
	padding:0 15px;
	height:40px;
}
.allcar_nav>ul>li>a{
	font-size:16px;
	color:#000;
}
.allcar_nav>ul>li>a:hover{
	color:#FF4F12;
}
.down_list{
	width:296px;
	height:400px;
	position:absolute;
	z-index:50;
	top:40px;
	background:url(../img_png/nav-dot.png-20160419.png) 0 0 repeat;
	font-size:14px;
	color:#f0f5ff;
	padding-bottom:19px;
	display:none;
	z-index:20;
}
.down_list>div{
	padding:0 0 25px 40px;
}
.down_list>.pinpai{
	padding-top:25px;
}
.down_list>.pinpai:hover{
	background:#fff;
	color:#000;
}
/*........................................*/
.down_list>.pinpai:hover a{
	color:#000;
}
.down_list>.pinpai a:hover{
	color:#FF4F12;
}
.down_list a{
	color:#f0f5ff;
	font-size:14px;
}
.down_list ul{
	margin-right:20px;
	overflow:hidden;
}
.down_list ul>li{
	float:left;
	margin-right:20px;
	line-height:22px;
}
.list_details{
	width:888px;
	height:400px;
	border-top:1px solid #ECEEF2;
	border-bottom:1px solid #ECEEF2;
	background:#fff;
	position:absolute;
	left:296px;
	top:40px;
	z-index:100;
	display:none;
}
.list_details a{
	color:#000;
	font-size:13px;
}
.list_details b{
	float:left;
	margin-left:30px;
	margin-right:20px;
	color:#FF5500;
	font-size:16px;
	line-height:30px;
}
.list_details>div{
	width:290px;
	margin-top:40px;
	float:left;
	min-height:320px;
	border-right:1px solid #ECEEF2;
}
.list_details>.details_d3{
	border-right:none;
}
.list_details ul{
	float:left;
	overflow:hidden;
	width:220px;
	margin-top:3px;
}
.list_details ul>li{
	float:left;
	margin-right:15px;
	line-height:25px;
}
.list_details>div>div{
	float:left;
}



#footer{
	background:#F8F9FA;
	margin-top:50px;
	border-top:1px solid #E1E4EA;
	overflow:hidden;
}
.foot{
	width:1184px;
	margin:0 auto;
	overflow:hidden;
}
.foot_top{
	border-bottom:1px solid #E1E4EA;
}
.foot_top i{
	display:inline-block;
	width:60px;
	height:59px;
}
.foot_top>dl{
	float:left;
	width:197px;
	text-align:center;
}
.foot_top dt,.foot_top dd{
	margin:15px 0;
}
.foot_top dd{
	color:#1848A8;
}
.png1{
	background:url(../img_png/index-icons.png) no-repeat 0 -102px;
}
.png2{
	background:url(../img_png/index-icons.png) no-repeat -60px -102px;
}
.png3{
	background:url(../img_png/index-icons.png) no-repeat -120px -100px;
}
.png4{
	background:url(../img_png/index-icons.png) no-repeat 0 -161px;
}
.png5{
	background:url(../img_png/index-icons.png) no-repeat -60px -161px;
}
.png6{
	background:url(../img_png/index-icons.png) no-repeat -120px -161px;
}
.foot_details{
	margin:20px 0;
	min-height:20px;
	width:100%;
	border-bottom:1px solid #E1E4EA;
}
.foot a{
	color:#7C8AA6;
}
.foot a:hover{
	color:#7C8AA6;
	text-decoration:underline;
}
.details_left{
	width:297px;
	text-align:center;
	padding:20px 0;
	border-right:1px solid #C3CAD6;
	margin-bottom:40px;
}
.details_left>a{
	display:inline-block;
	width:160px;
	height:28px;
	background:url(../img_png/index-icons.png) no-repeat 0 -239px;
	margin-bottom:20px;
}
.details_left>p>i{
	float:left;
	width:48px;
	height:48px;
	background:url(../img_png/index-icons.png) no-repeat 0 -280px;
	margin-left:40px;
}
.details_left>p>span{
	float:left;
	margin-left:10px;
}
.row1{
	font-size:24px;
	font-weight:bold;
	color:#1848a8;
}
.row2{
	font-size:14px;
	color:#0a3c8f;
}
.details_right{
	float:right;
}
.details_right>dl{
	width:160px;
	float:left;
	overflow:hidden;
	margin:0;
}
.details_right dt{
	font-size:18px;
	margin-bottom:15px;
}
.details_right dd{
	line-height:30px;
}
.details_right a{
	color:#7C8AA6;
}
.details_right .andr img{
	width:100px;
}
.foot>p{
	width:600px;
	color:#7C8AA6;
	font-size:12px;
}
.foot>p>a{
	display:inline-block;
	margin:0 10px;
}
.foot_bottom_right{
	float:right;
	margin-right:40px;
}
.foot_bottom_right .i1{
	display:inline-block;
	width:26px;
	height:33px;
	background:url(../img_png/icon-common.png) no-repeat;
	margin-right:10px;
	margin-bottom:-10px;
}
.foot_bottom_right a{
	display:inline-block;
	height:33px;
	line-height:33px;
	margin-right:20px;
}
.foot_bottom_right .i2{
	display:inline-block;
	width:31px;
	height:31px;
	background:url(../img_png/icon-common.png) no-repeat -40px 0;
	margin-right:10px;
	margin-bottom:-8px;
}
.foot_last{
	font-size:12px;
	color:#7C8AA6;
	margin-bottom:50px;
	margin-top:10px;
}
.foot_last i{
	display:inline-block;
	width:15px;
	height:17px;
	background:url(../img_png/jh-logo.png) no-repeat;
	margin-bottom:-4px;
	margin-right:5px;
}
/*模态注册框*/
.regist-modal,.login-modal{
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:2000;
	background: rgba(0,0,0,0.5);
	display: none;
}
.regist,.login{
	width:530px;
	border: 4px solid #335498;
	margin:50px auto 0;
	background: #fff;
	min-height: 300px;
}
.regist>h3,.login>h3{
	width:100%;
	background: #335498;
	color:#fff;
	margin:0;
	font-size:18px;
	height:41px;
	line-height: 41px;
	padding-left:20px;
	margin-bottom:40px;
}
.regist>h3>a,.login>h3>a{
	float:right;
	width:45px;
	height:45px;
	background:url(../img_png/maiche_ico1.gif) no-repeat -169px -29px;
	position:relative;
	left:4px;
	top:-4px;
}
.regist>h3>a:hover,.login>h3>a:hover{
	background-position: -351px -170px;
}
.regist>div,.login>div{
	margin-bottom:40px;
	padding:0 40px;
}
.login .login-box-userpwd{
	margin-bottom:0;
}
.regist label,.regist input,.login label,.login input{
	display:inline-block;
	border:1px solid #C0C0C0;
	font-size:16px;
	color:#333333;
	height:40px;
	line-height: 40px;
}
.regist label,.login label{
	border-right:0;
	padding-left:10px;
	width:75px;
}
.regist input,.login input{
	border-left:0;
	padding:0;
	padding-left:10px;
	position:relative;
	top:-1px;
	outline: none;
}
.login input{
	width:367px;	
}
.regist span,.login span{
	color:#999;
	margin-left:10px;
	font-size:14px;
}
#regist-btn,#login-btn{
	width:100%;
	height:50px;
	line-height: 50px;
	border:0;
	padding:0;
	color:#fff;
	background:#ff6900;
	font-size:20px;
	font-weight:bold;
}
#regist-btn:hover,#login-btn:hover{
	cursor: pointer;
	background:#E55817;
}
.regist .span-error,.login .span-error{
	color:#CC3300;
}
.regist .span-success,.login .span-success{
	color:#3CAD63;
}
.login .alert{
	padding:0 40px;
	height:25px;
	line-height:25px;
	font-size:14px;
	margin-bottom:20px;
	color:#CC3300;
}
#main{
	width:100%;
	margin-bottom: 40px;
	overflow: hidden;
	min-height:400px;
}
.search_result{
	position:absolute;
	width:413px;
	max-height:200px;
	border:1px solid #D7DCE4;
	border-top:0;
	z-index:20;
	left:353px;
	background:#fff;
	overflow:auto;
	display:none;
}
.search_result li{
	width:100%;
	height:40px;
	line-height:40px;
	color:#333;
	font-size:14px;
	font-weight:bold;
	padding-left:10px;
	border-bottom:1px solid #D7DCE4;
}
.search_result li:hover{
	background:#EEF1F6;
}
.search_result span{
  float:right;
  margin-right:30px;
}













