.down_list{
	display:block;
}
.banner_pic img{
	width:100%;
	height:400px;
}
.banner_pic{
	width:100%;
	height:400px;
	position:relative;
}
.banner_pic>a{
	position:absolute;
}
.img3,.img2{
	display:none;
}
.page{
	position:absolute;
	overflow:hidden;
	right:80px;
	top:350px;
	z-index:100;
}
.page>li{
	width:12px;
	height:12px;
	border-radius:50%;
	border:1px solid #fff;
	float:left;
	margin-right:12px;
}
.page_fill{
	background:#fff;
}
.page>li:hover{
	cursor:pointer;
}
.car_sign,.hot-cars{
	width:1184px;
	margin:0 auto;
}
.car_sign>li{
	float:left;
	margin-top:20px;
}
.car_sign>li img{
	width:36px;
}
.car_sign>li>a{
	display:inline-block;
	width:65px;
	height:56px;
	text-align: center;
	font-size:12px;
	color:#7C8AA6;
}
.car_sign>li>a:hover{
	color:#FC5E0B;
}
.hot-cars{
	margin-top:40px;
}
.hot-cars h2{
	text-align: center;
	font-weight: normal;
	font-size: 26px;
	line-height:66px;
}
.hot-cars h2 a{
	font-size: 16px;
	float:right;
	color:#000;
	margin-top:5px;
}
.hot-cars h2 a>i{
	display:inline-block;
	height:27px;
	width:27px;
	background:url(../img_png/index-icons.png) no-repeat -40px 0;
	margin-bottom:-8px;
	margin-left:5px;
	margin-right:10px;
}
.chk-list{
	overflow: hidden;
	border-top:1px solid #000;
	margin-bottom:-1px;
	width:100%;
}
.chk-list li{
	float:left;
	cursor: pointer;
	width:130px;
	text-align: center;
	font-size: 16px;
	line-height:46px;
	border-bottom:2px solid transparent;
}
.chk-list .chk-hover{
	border-bottom:2px solid #FF4F12;
}
.ul-com{
	border-top:1px solid #DDE1E8;
	display:none;
	overflow:hidden;
}
.ul-com>li{
	float:left;
	width:296px;
	height:320px;
	border-right:1px solid #DDE1E8;
	border-bottom:1px solid #DDE1E8;
	overflow: hidden;
}
.ul-com>li>a{
	display:block;
	padding-top:22px;
}
.ul-com>li img{
	width:290px;
	position: relative;
	left:40px;
}
.ul-com>.first{
	height:640px;
	position: relative;
}
.ul-com>.first>a{
	padding:0;
}
.ul-com>.first img{
	width:296px;
	left:0;
}
.ul-com h3{
	color:#000;
	margin:0;
	margin-left:30px;
	line-height:28px;
}
.ul-com p{
	color:#7C8AA6;
	margin:0;
	margin-left:30px;
	line-height:22px;
}
.ul-com p>b{
	color:#FF4700;
}
.first>p{
	width:296px;
	position: absolute;
	left:0;
	top: 540px;
}
.first>p>a{
	color:#fff;
}
.first>p>a:hover{
	text-decoration: underline;
}
.other{
	margin-top:40px;
}
.other h2{
	text-align: left;
	border-bottom:1px solid #000000;
	margin:0;
}
.other-share{
	width:808px;
	float:left;
}
.other-guide{
	width:346px;
	float:right;
}
.share-details{
	border-bottom:1px solid #DDE1E8;
	overflow: hidden;
	width:100%;
}
.last{
	border-bottom:0;
}
.share-details>img{
	margin:20px 0;
	float:left;
}
.share-details>h3,.share-details>p{
	width:600px;
	float:left;
	padding-right:20px;
	padding-left:20px;
}
.share-details>h3{
	line-height: 30px;
	font-size:18px;
	font-weight: bold;
}
.share-details>h3>span{
	float:right;
	color:#FF4700;
	font-weight: normal;
}
.share-details>h3>span>b{
	font-weight: bold;
	font-size:26px;
}
.share-details>h3>a{
	color:#000000;
}
.share-details>h3>a:hover{
	color:#FF4700;
}
.share-type{
	color:#7C8AA6;
	margin-top:20px;
}
.share-type>span{
	margin-left:20px;
}
.new-car{
	position: relative;
}
.new-car img{
	width:346px;
	margin:20px 0;
}
.new-car>a>i{
	width:61px;
	height:26px;
	position: absolute;
	background: url(../img_png/index-icons.png) no-repeat -80px -41px;
	left:-5px;
	top:40px;
	color:#fff;
	font-style:normal;
	text-align: center;
}
.new-car>p{
	position: absolute;
	bottom:20px;
	color:#fff;
	width:100%;
	font-size:18px;
	height:40px;
	line-height:40px;
	padding-left:20px;

	background: url(../img_png/transparent-black.png) repeat;
}
.other-guide>a{
	display:block;
	width:100%;
	overflow: hidden;
	margin-bottom:20px;
}
.other-guide>a>img{
	width:120px;
	height:80px;
	float:left;
}
.other-guide>a>p,.other-guide>a>h3{
	width:200px;
	float:left;
	margin:0;
	margin-left:15px;
}
.other-guide>a>p{
	margin-top:10px;
	font-size:12px;
	color:#7c8aa6;
}
.other-guide>a>h3{
	color:#000000;
	margin-bottom:20px;
	margin-top:5px;
}
.other-guide>a>h3:hover{
	color:#FF4700;
}
.cars_box>ul:first-child{
	display:block;
}