<div data-role="page" ng-controller="detailCtr">
	<div data-role="header">
		<a href="#" data-icon="back" data-rel="back" data-iconpos="notext">
			<h1>书宝贝</h1>
		</a>
	</div>
	<!---->
	<div class="ui-content">
		<h1>{{book.name}}</h1>
		<img ng-src="../img/{{book.img_lg}}" alt="">
		<p>{{book.material}}</p>
		<p>{{book.price | currency:'￥'}}</p>
		<button ng-click="jump('order.html')">我要下单</button>
		<button ng-click="jump('main.html')">我在看看</button>
	</div>
	<div data-role="footer" data-position="fixed">
		<div data-role="navbar">
			<ul>
				<li><a href="../shubaobei.html" data-icon="home">主页</a></li>
				<li><a href="../myorder.html" data-icon="user">用户中心</a></li>
				<li><a href="../shubaobei.html" data-icon="gear">设置</a></li>
			</ul>
		</div>
	</div>
</div>