<div data-role="page" ng-controller="mainCtr">
	<div data-role="header">
		<a href="#" data-rel="back" data-icon="back" data-iconpos="notext"></a>
		<h1>书宝贝</h1>
	</div>
	
	<div class="ui-content">
		<label for="sousuo"></label>
		<input type="text" id="sousuo" placeholder="请你输入要搜索的书名" ng-model="kw">
		
		<ul data-role="listview" data-inset="true">
			<li ng-repeat="book in bookList">
				<a ng-click="showDetail(book.did)">
					<img ng-src="../img/{{book.img_sm}}"/>
					<h2>{{book.name}}</h2>
					<p>{{book.material}}</p>
					<p>{{book.price}}</p>
				</a>
			</li>
		</ul>
		
		<button ng-show="hasMore" ng-click="loadMore()">加载更多</button>
		<p ng-hide="hasMore">没有更多的数据加载</p>
	</div>
	
	<div data-role="footer" data-position="fixed">
		<div data-role="navbar">
			<ul>
				<li><a href="../shubaobei.html" data-icon="home">主页</a></li>
				<li><a href="myorder.html" data-icon="user">用户中心</a></li>
				<li><a href="../shubaobei.html" data-icon="gear">设置</a></li>
			</ul>
		</div>
	</div>
</div>